<!DOCTYPE html>



<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="template">

<head>
    <meta charset="utf-8">
    <title>Restos</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{images/favicon.png}" type="">

    <title> Se connecter </title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
    <!-- nice select  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link  th:href="@{css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link  th:href="@{css/responsive.css}" rel="stylesheet" />
</head>
<body>


<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
            <span>
              Restos
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item  ">
                        <a class="nav-link" th:href="@{Liste_Utilisateur}">Liste_User</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" th:href="@{Liste_Messasge}">Liste_Message</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{Tables}">Ajouter des tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Liste_table_admin}">Liste des tables</a>
                    </li>

                </ul>

                <div class="user_option">
                    <a th:href="@{/login}" class="user_link">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
        </nav>
    </div>
</header>


<!--liste table-->
<section class="food_section layout_padding">
    <div class="container" >
        <div class="heading_container heading_center">
            <h2>
               Ajouter Tables
            </h2>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">

        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="https://iconape.com/wp-content/files/ea/367350/png/367350.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>ajouter une photo de la table</h6>

                    <input  type="file" id="inputText" class="form-control" onchange="selectfile(this.value)" >
                   </div>
            </div>


            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                   Ajouter <strong>une nouvelle</strong> table dans  restos.
                </div>
                <h3>Information Table</h3>

                <form class="form-horizontal"  role="form"  method="post" th:action="@{Tables}">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">nom de Table:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="Name_Table" type="text"  placeholder="nom de table">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description :</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="Description_Table" type="text" value="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Prix:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="Prix" type="text"  placeholder="00.0 dh">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre de personne :</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="nombre_Presone_Table" type="text"  vale="1" placeholder="1">
                        </div>
                    </div>

                    <div class="form-group">
                            <button style="margin-top:20px" type="submit" class="btn btn-oval btn-success">Ajouter</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

</section>


<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Location
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Call +01 1234567890
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  demo@gmail.com
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Feane
                    </a>
                    <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy;   All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy;   Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
</body>
</html>