<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="template">

<head>
    <meta charset="utf-8">
    <title>Restos</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{images/favicon.png}" type="">

    <title> Se connecter </title>
     <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
    <!-- nice select  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link  th:href="@{css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link  th:href="@{css/responsive.css}" rel="stylesheet" />
</head>
<body>


<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
            <span>
              Restos
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{Accueil}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{Menu}">Menu</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{Nos_Tables}">Reserver Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{About_Us}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')"  th:href="@{Liste_Utilisateur}">Admin</a>
                    </li>
                </ul>
                <div class="user_option">
                    <a th:href="@{/login}" class="user_link">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
        </nav>
    </div>
</header>


<!--liste table-->
<section class="food_section layout_padding">
    <div class="container" >
        <div class="heading_container heading_center">
            <h2>
                Nos Tables
            </h2>
        </div>



        <div class=" filters-content" style="display:flex; flex-wrap: wrap;">
            <div th:each="e:${liste_Tables}" class="filters-content">
                <div class="row grid">
                    <div class="col-lg-12" style="padding-right:40px">
                        <div class="box">
                            <div>
                                <div class="img-box" style="height: auto; width: 200px;" >
                                    <img th:src="${e.Path_Table}" style="margin-left:220px" alt=""><h2 style="margin-left:90px" th:text="${e.Name_Table}"></h2>
                                </div>
                                <div class="detail-box">

                                    <p th:text="${e.Description_Table}">
                                    </p>
                                    <div class="options">
                                        <h6 th:text="${e.Prix}">dh
                                        </h6>
                                        <a th:href="@{ContactUs(id = ${e.ID_Table})}">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
</section>


<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Location
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Call +01 1234567890
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  demo@gmail.com
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Feane
                    </a>
                    <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy;   All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy;   Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
</body>
</html>